.crumbs
  margin: 80px 0px 20px
  i 
    font-size: 14px
  
  +media-md 
    margin-top: 50px
  +media-sm
    margin-top: 30px

.crumbs__row
  display: flex
  justify-content: space-between
  align-items: center
  
.crumbs__list
  padding: 0 
  margin: 0
  list-style: none
  li 
    display: inline-block
  li.active 
    color: #000 
  li.not-active 
    opacity: .5
  a:hover 
    color: #000 