.blog__articles
  margin-bottom: 80px
  .home__articles-item
    margin-bottom: 50px
  +media-sm 
    margin-bottom: 50px
    .home__articles-item
      margin-bottom: 0px


// -------------- NEW page blog__detail -----------------

.blog__detail
  margin-bottom: 130px
  +media-sm 
    margin-bottom: 70px

.blog__detail-top
  position: relative
  margin-bottom: 40px
  img 
    width: 100%
    height: auto
  +media-sm 
    margin-bottom: 30px

.blog__detail-title
  position: absolute
  right: 0
  top: 125px
  width: 530px
  font-size: 60px 
  font-weight: 700
  line-height: 1.17
  padding: 30px 0px 40px 30px
  background: #fff
  +media-md 
    font-size: 50px 
    padding: 20px
    padding-right: 0
    width: 470px
  +media-sm 
    position: static
    padding: 0
    font-size: 35px
    width: auto
    margin-bottom: 10px




.blog__detail-content
  margin-bottom: 80px
  p 
    line-height: 1.786
  h2 
    font-size: 25px 
    font-weight: 700
    margin-bottom: 30px
  blockquote 
    font-size: 20px
    font-weight: 500
    color: #7CCA63
    text-align: center
    font-style: italic
    margin: 0
    margin-bottom: 30px
    margin-top: 60px

  +media-md
    margin-bottom: 50px
  +media-sm 
    p 
      line-height: 1.5
      text-align: justify
    h2 
      text-align: center
      font-size: 22px
      margin-bottom: 15px
    blockquote
      font-size: 16px
      margin-bottom: 15px
      margin-top: 40px
    figure.alignright
      float: none
      margin: 0
      display: block
      text-align: center
      img 
        width: 100%
        max-width: 270px


.blog__detail-author
  font-size: 20px
  font-weight: 500
  text-align: right
  color: #776677
  font-style: italic
  +media-sm 
    font-size: 16px