.product__top
  margin-top: 90px
  margin-bottom: 130px
  +media-md 
    margin: 30px 0px 70px
  
.product__top-row
  display: flex
  justify-content: space-between
  margin: 0 -15px
  flex-wrap: wrap

.product__top-col
  width: 50%
  // outline: 1px solid red
  padding: 0 15px
  +media-md 
    width: 100%
    max-width: 540px
    margin: 0 auto


.product__bage
  display: inline-block
  padding: 10px 20px 
  letter-spacing: 0.2em
  text-transform: uppercase
  font-weight: 500
  margin-bottom: 23px
  +media-sm 
    font-size: 12px
    margin-bottom: 15px
.product__bage--red
  color: #D7267B
  background-color: rgba(170, 15, 89, 0.2)
.product__bage--green
  color: #7CCA63
  background-color: rgba(124, 202, 99, 0.2)
  
.product__title
  font-size: 60px 
  font-weight: 700
  margin-bottom: 23px
  +media-sm 
    font-size: 40px
    margin-bottom: 15px

.product__subtitle
  max-width: 350px
  line-height: 1.786
  margin-bottom: 55px
  +media-sm 
    margin-bottom: 30px

.product__order
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 65px
  +media-sm
    flex-wrap: wrap
    margin-bottom: 40px

.product__price
  font-family: $font-title
  color: $color-dark
  font-size: 25px
  min-width: 72px

.product__quantity
  width: 160px
  +media-sm 
    .quantity
      height: 45px
    .quantity__input
      font-size: 20px

.product__btn
  width: 220px
  .button 
    padding: 14px 30px
    i,span
      vertical-align: center
      line-height: 20px
    i 
      margin-right: 5px
  +media-lg
    width: 190px
  +media-sm 
    margin: 0 auto
    margin-top: 15px


.product__delivery
  padding: 20px 30px
  color: #7CCA63
  background-color: rgba(124, 202, 99, 0.2)
  font-size: 20px
  margin-bottom: 30px
  i 
    margin-right: 30px
  +media-sm 
    padding: 15px
    margin-bottom: 15px
    font-size: 16px
    i 
      margin-right: 20px

.product__box
  padding: 20px 30px
  color: #D7267B
  background-color: rgba(170, 15, 89, 0.2)
  font-size: 20px
  i 
    margin-right: 30px
  +media-sm 
    padding: 15px
    margin-bottom: 15px
    font-size: 16px
    i 
      margin-right: 20px

// ----------------- product-slider ------------------

.product-slider
  // outline: 1px solid green
  +media-md 
    margin-bottom: 30px
  +media-sm 
    width: 290px
    margin: 0 auto
    margin-bottom: 30px

.product-slider__main
  img 
    display: block
    width: 540px 
    height: 540px
  +media-lg 
    img 
      width: 450px 
      height: 450px
  +media-md
    img 
      width: 510px 
      height: 510px
  +media-sm
    img 
      width: 290px 
      height: 290px

.product-slider__preview
  // outline: 1px solid red
  img
    display: block
    width: 100px 
    height: 100px
    cursor: pointer
  

// ------------------- product__guide----------------------

.product__guide
  margin-bottom: 180px
  +media-sm 
    margin-bottom: 70px

.product__guide-wrap
  position: relative

.product__guide-img
  width: 730px
  position: absolute
  right: -190px
  top: -80px
  img 
    width: 100%
  +media-md 
    width: 600px 
    right: -160px
    top: -60px
  +media-sm 
    // display: none
    z-index: -1
    width: 400px 
    right: -95px
    top: -30px
    opacity: .5

.product__guide-title
  font-size: 60px 
  font-weight: 700
  margin-bottom: 85px
  +media-sm
    font-size: 40px
    margin-bottom: 40px

.product__guide-item
  color: $color-dark 
  font-family: $font-title
  font-size: 25px
  font-weight: 700
  margin-bottom: 80px
  i 
    display: inline-block
    width: 40px
    margin-right: 15px
    font-size: 25px
    vertical-align: middle
  .icon-portion
    font-size: 30px
  span 
    vertical-align: middle
  +media-sm 
    margin-bottom: 30px
    font-size: 22px